.my-profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 5px;
}

.username {
  font-size: 1.5em;
}

.username-large {
  font-size: 1.2em;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.p-button:active, .p-button:focus {
  box-shadow: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.posts {
  column-count: 2;
}

@media (min-width: 768px) {
  .posts {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .posts {
    column-count: 4;
  }
}

label {
  color: gray;
  font-size: 0.8em;
  display: block;
  margin-top: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-container .small-img {
  width: 100%;
  height: auto;
}
::ng-deep .p-dialog .p-dialog-header {
  background-color: transparent;
}
