.card {
  width: 60%;
  height: 80vh;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}


.user-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.image-container img {
  flex-shrink: 0;
  min-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .split-screen {
    flex-direction: row;
  }

  .card {
    width: 60%;
    flex-direction: row;
  }
}

.small-text {
  font-size: 0.8em;
  color: gray;
}

.comments {
  width: 100%;
}

.comments::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.comments::-webkit-scrollbar-thumb {
  background: transparent;
}

.pi-trash {
  color: gray;
  cursor: pointer;
  margin-left: auto;
}

.pi-ellipsis-h {
  color: gray;
  cursor: pointer;
  margin-left: 20px;
}

.pi-heart {
  color: gray;
  cursor: pointer;
  margin-left: 20px;
}

.pi-heart-fill {
  color: red;
  margin-left: 20px;
}
