<div class="split-screen">
  <div class="card">
    <div class="post-section d-flex align-items-center justify-content-center text-center">
      <p-carousel [value]="post.photos" [numVisible]="1" [numScroll]="1" [circular]="false" [indicatorStyle]="{ 'background-color': 'light-gray', 'border-radius': '50%', 'width' : '5px', 'height': '5px'}">
        <ng-template pTemplate="item" let-photo>
          <img class="card-img-top" [src]="photo" alt="Post image">
        </ng-template>
      </p-carousel>
    </div>
    <div class="comments-section">
      <div class="post-title">{{post.title}}</div>
      <div class="comments">
        <div class="comment" *ngFor="let comment of comments">
          <div class="user-info">
            <img class="user-image" [src]="comment.user.image" alt="User image">
            <strong class="card-title">{{comment.user.username}}: </strong>{{comment.content}}
            <i class="pi pi-trash" (click)="deleteComment(comment.id)"></i>
          </div>
          <div class="comment-date small-text">{{getTimeComment(comment)}}</div>
        </div>
      </div>
      <div class="add-comment">
        <input type="text" pInputText placeholder="Añade un comentario..." [(ngModel)]="newComment" (keyup.enter)="addComment()">
      </div>
    </div>
  </div>
</div>
