<div class="split-screen" *ngIf="post">
  <div class="card">
    <div class="post-section d-flex align-items-center justify-content-center text-center">
      <p-carousel [circular]="false"
                  [indicatorStyle]="{ 'background-color': 'light-gray', 'border-radius': '50%', 'width' : '5px', 'height': '5px'}"
                  [numScroll]="1" [numVisible]="1"
                  [value]="post.photos">
        <ng-template let-photo pTemplate="item">
          <img [src]="photo" alt="Post image" class="card-img-top">
        </ng-template>
      </p-carousel>
    </div>
    <div class="comments-section">
      <div class="post-title">{{ post.title }}</div>
      <div class="comments">
        <div *ngFor="let comment of comments" class="comment">
          <div class="user-info">
            <img [src]="comment.user.image" alt="User image" class="user-image"  (click)="goToProfile(comment.user.id)">
            <strong class="card-title"  (click)="goToProfile(comment.user.id)">{{ comment.user.username }}: </strong>{{ comment.content }}
            <i (click)="deleteComment(comment)" *ngIf="currentUser.id === comment.user.id" class="pi pi-trash"></i>
          </div>
          <div class="comment-date small-text">{{ getTimeComment(comment) }}</div>
        </div>
      </div>
      <div class="add-comment">
        <input (keyup.enter)="addComment()" [(ngModel)]="newComment" pInputText placeholder="Añade un comentario..."
               type="text">
        <i (click)="likePost()" [ngClass]="{'pi-heart': !isLiked(), 'pi-heart-fill': isLiked()}" class="pi"></i></div>
    </div>
  </div>
</div>
