@media (max-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

@media (min-width: 1025px) {
  .masonry {
    column-count: 4;
  }
}
