.post-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-card {
  flex: 0 0 calc(50% - 10px); /* Asume un espacio de 10px entre los posts */
  margin-bottom: 20px; /* Espacio debajo de cada post */
}
