<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="card flex flex-column align-items-center justify-content-center">
     <span class="input-field mb-3">
      <label for="username"></label>
      <input type="text" pInputText id="username" placeholder="Usuario" formControlName="username" />
      <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
           class="container-error">
         <small class="error-message" *ngIf="loginForm.controls['username'].errors?.['required']">El nombre de usuario es obligatorio</small>
      </div>
     </span>
      <span class="input-field mb-3">
        <label for="password"></label>
        <p-password id="password" formControlName="password" placeholder="Contraseña" [toggleMask]="true" [feedback]="false" />
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
             class="container-error">
          <small class="error-message" *ngIf="loginForm.controls['password'].errors?.['required']">La contraseña es obligatoria</small>
        </div>
     </span>
      <button pButton type="submit" label="Iniciar Sesion"
              class="p-button-rounded p-button-raised p-button-primary"></button>
      <p>¿No tienes cuenta?</p>
      <a [routerLink]="['/register']">Registrate</a>
    </div>
  </form>
</div>
