<footer *ngIf="shouldShowFooter()" class="fixed flex justify-content-around bg-primary-600"
        style=" bottom: 0; left: 0; width: 100%; padding: 10px; height: 80px; background-color: #f8f9fa;">
  <p-button (click)="visibleSearch = true" [text]="true">
    <i class="pi pi-search" style="color: white;"></i>
  </p-button>
  <p-button (click)="visibleCreate = true" [text]="true">
    <i class="pi pi-plus" style="color: white;"></i>
  </p-button>
  <p-button (click)="goToIndex()" [text]="true">
    <i class="pi pi-home" style="color: white;"></i>
  </p-button>
  <p-button (click)="goToMyProfile()" [text]="true">
    <i class="pi pi-user" style="color: white;"></i>
  </p-button>
</footer>

<p-dialog header="Nueva publicación" [(visible)]="visibleCreate" [modal]="true" [style]="{ width: '40vw' }"
          [draggable]="false" [resizable]="false" class="flex flex-column align-items-center justify-content-center;">
  <form [formGroup]="createPostForm " (ngSubmit)="createPost()">
    <div class="flex flex-column align-items-center gap-2">
        <input type="text" pInputText id="title" formControlName="title" placeholder="Añade un título..." />
        <div *ngIf="submitted && createPostForm.controls['title'].invalid" class="absolute">
          <small *ngIf="createPostForm.controls['title'].errors?.['required']"
                 style="color: red;">Debes añadir un título</small>
        </div>
      <div>
        <p-fileUpload [multiple]="true" name="image" chooseLabel="Seleccionar" chooseIcon="pi pi-image" (onSelect)="onFileChange($event)"
                      accept="image/*" [auto]="true">
          <ng-template pTemplate="content">
            <div class="flex flex-column align-items-center gap-2">
              <i class="pi pi-download"></i>
              <div>Arrastre sus imágenes aquí</div>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>
      <input type="text" pInputText id="location" formControlName="location" placeholder="Añade una ubicación..." />
    </div>
    <div class="mt-3 flex justify-content-center">
      <p-button label="Crear" [rounded]="true" severity="help" type="submit" [ngStyle]="{'margin': '10px'}"></p-button>
      <p-button label="Cancelar" [rounded]="true" [outlined]="true" (click)="visibleCreate = false" severity="secondary"
                [ngStyle]="{'margin': '10px'}"></p-button>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="visibleSearch" [modal]="true"
          [style]="{ width: '30vw',height:'40vw', position: 'relative' }"
          [draggable]="false" [resizable]="false">
  <form (ngSubmit)="search(username.value)">
    <div class="flex justify-content-center ml-4">
      <div class="flex flex-column gap-2 position-relative">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input type="text" pInputText placeholder="Buscar" (input)="searchSubject.next(username.value)" #username
                 style="padding-left: 30px;" />
        </p-iconField>
      </div>
    </div>
    <div class="flex justify-content-center mt-3 gap-2">
    </div>
  </form>
  <ul class="list-none">
      <li *ngFor="let result of searchResults" class="flex align-items-center gap-2 mt-4" (click)="goProfile(result.id)">
        <img [src]="result.image"
             style="width: 50px; height: 50px; margin-right: 10px; border-radius:50%; object-fit: cover;" alt="">
        {{ result.username }}
      </li>
  </ul>
</p-dialog>
