.card {
  width: 100%;
  max-width: 400px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.input-field {
  width: 100%;
}

.input-field input,
.input-field p-input {
  width: 100%;
}


.p-inputtext.ng-invalid.ng-touched {
  border-color: #f88c79;
}

.card button:not(:last-child) {
  margin-right: 10px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
