<div class="relative flex justify-content-center align-items-center" style=" height: 90vh;">
  <p-messages [(value)]="messages" [closable]="true" [enableService]="false"
              class="position-absolute z-1"></p-messages>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="card flex flex-column align-items-center justify-content-center m-auto w-100">
      <div class="flex justify-content-between ml-4 gap-4">
        <div class="flex flex-column gap-2">
      <span class="input-field relative mb-4">
        <label for="name"></label>
        <input formControlName="name" id="name" pInputText placeholder="Nombre" type="text" />
        <div *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched"
             class="absolute">
          <small *ngIf="registerForm.controls['name'].errors?.['required']"
                 style="color: red;">El nombre es obligatorio</small>
          <small *ngIf="registerForm.controls['name'].errors?.['pattern']"
                 style="color: red;">El nombre no es válido</small>
        </div>
      </span>
          <span class="input-field mb-4">
        <label for="lastname"></label>
        <input formControlName="lastname" id="lastname" pInputText placeholder="Apellido" type="text" />
        <div *ngIf="registerForm.controls['lastname'].invalid && registerForm.controls['lastname'].touched"
             class="absolute">
          <small *ngIf="registerForm.controls['lastname'].errors?.['required']" style="color: red;">El apellido es obligatorio</small>
          <small *ngIf="registerForm.controls['lastname'].errors?.['pattern']"
                 style="color: red;">El apellido no es válido</small>
        </div>
      </span>
          <span class="input-field mb-4">
      <label for="username"></label>
      <input formControlName="username" id="username" pInputText placeholder="Usuario" type="text" />
      <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched"
           class="absolute">
         <small *ngIf="registerForm.controls['username'].errors?.['required']" style="color: red;">El nombre de usuario es obligatorio</small>
        <small *ngIf="registerForm.controls['username'].errors?.['minlength']"
               style="color: red;">Demasiado corto</small>
        <small *ngIf="registerForm.controls['username'].errors?.['maxlength']"
               style="color: red;">Demasiado largo</small>
        <small *ngIf="registerForm.controls['username'].errors?.['pattern']" style="color: red;">El nombre de usuario no es válido</small>
      </div>
     </span>
          <span class="input-field mb-4">
        <label for="email"></label>
        <input formControlName="email" id="email" pInputText placeholder="Correo" type="text" />
        <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched"
             class="absolute">
          <small *ngIf="registerForm.controls['email'].errors?.['required']" style="color: red;">El correo es obligatorio</small>
          <small *ngIf="registerForm.controls['email'].errors?.['email']"
                 style="color: red;">El correo no es válido</small>
        </div>
        </span>
        </div>
        <div class="flex flex-column gap-2">
      <span class="input-field mb-4">
        <label for="password"></label>
        <p-password [feedback]="true" [toggleMask]="true" formControlName="password" id="password"
                    placeholder="Contraseña" />
        <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched"
             class="absolute">
          <small *ngIf="registerForm.controls['password'].errors?.['required']" style="color: red;">La contraseña es obligatoria</small>
        </div>
     </span>
          <span class="input-field mb-4">
        <label for="repeatPwd"></label>
        <p-password [feedback]="false" [toggleMask]="true" formControlName="repeatPwd" id="repeatPwd"
                    placeholder="Repetir contraseña" />
        <div *ngIf="registerForm.controls['repeatPwd'].invalid && registerForm.controls['repeatPwd'].touched"
             class="absolute">
          <small *ngIf="registerForm.controls['repeatPwd'].errors?.['required']" style="color: red;">La contraseña es obligatoria</small>
          <small *ngIf="registerForm.controls['repeatPwd'].errors?.['notEquivalent']" style="color: red;">Las contraseñas no coinciden</small>
        </div>
      </span>
          <span class="input-field mb-4">
  <p-fileUpload name="image" chooseLabel="Seleccionar" chooseIcon="pi pi-image" (onSelect)="onFileChange($event)"
                accept="image/*" [auto]="true">
    <ng-template pTemplate="content">
      <div class="flex flex-column align-items-center gap-2">
      <i class="pi pi-download"></i>
                <div>Arrastre una imágen aquí</div>
        </div>
    </ng-template>
  </p-fileUpload>
     </span>
        </div>
      </div>
      <div class="flex flex-column align-items-center justify-content-center mt-2">
        <button class="p-button-rounded p-button-raised p-button-primary" label="Registrarse" pButton
                type="submit"></button>
          <p>¿Ya tienes cuenta?</p>
          <a [routerLink]="['/login']">Inicia sesión</a>
        </div>
      </div>
  </form>
</div>
